<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZagAPIServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ZagAPIServer.My.MySettings>
            <setting name="WebServerPortNumber" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="AutoRunWebServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefWebHandler" serializeAs="String">
                <value>Housing Bank IBM Websphare MQ</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueueManager" serializeAs="String">
                <value>QRAAMQ1</value>
            </setting>
            <setting name="channelName" serializeAs="String">
                <value>SYSTEM.DEF.SVRCONN</value>
            </setting>
            <setting name="connectionName" serializeAs="String">
                <value>172.31.6.78(1414)</value>
            </setting>
            <setting name="ChannelID" serializeAs="String">
                <value>BRK</value>
            </setting>
            <setting name="UsePreOpenQ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfPreOpenQ" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PoolAccountNumber" serializeAs="String">
                <value>2011121211222</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>172.31.6.78</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>1414</value>
            </setting>
        </ZagAPIServer.My.MySettings>
    </userSettings>
</configuration>